/*  fil for home page                              */

.chat-div {
  padding: 20px;
  display: grid;
  grid-template-columns: auto;
  border-radius: 30px;
}

#chat-container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  height: 30dvh;
}

#time {
  float: right;
  color: #aaa;
}

.interact-div {
  display: grid;
  grid-template-columns: 75% 20%;
  gap: 20px;
  position: relative;
  left: 10px;
}

.interact-div input,
button {
  display: block;
  border-radius: 30px;
  border: 1px solid rgba(0, 0, 0, 0, 2);
  margin: 10px 0;
}