/*   css fil til sign in page       */

.sign-up-div,
.sign-up-div {
    background-color: white;
    border: 5px solid black;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    position: relative;
    text-align: center;
    margin: auto;
    margin-top: 2%;
    width: 20%;
    padding: 3%;
    padding-top: 0;
    width: 15%;
}

/*      form style                    */
.logo {
    position: relative;
    margin-top: 0;
    margin: auto;
}

.logo img {
    width: 100%;
}

.title,
.sub-title {
    text-align: center;
    color: #505050;
}

.title {
    font-weight: bolder;
    font-size: 45px;
}

.sub-title {
    font-size: 28px;
    margin-top: 10px;
}

.form {
    width: 100%;
    margin-top: 30px;
}

.form input {
    font-size: 18px;
    padding: 10px 20px 10px 5px;
    border: none;
    outline: none;
    background: none;
}

.username,
.password,
.email {
    display: block;
    border-radius: 30px;
    border: 1px solid rgba(0, 0, 0, 0, 2);
    padding: 10px;
    margin: 10px 0;
}

.form svg {
    height: 30px;
    margin-bottom: -5px;
    margin-left: 10px;
    margin-right: 5px;
    padding-right: 5%;
}

.sign-in-up-btn button {
    width: 100%;
    padding: 12px 10px;
    border: none;
    font-size: 18px;
    border-radius: 30px;
    background: rgb(48, 55, 186);
    color: white;
    margin-bottom: 5px;
    display: grid;
    grid-template-columns: auto;
    text-decoration: none;
    text-align: center;
}

.sign-in-up-btn button:hover {
    background-color: rgb(73, 81, 226);
}

a {
    border-radius: 100px;
    width: auto;
    padding: 20px 20px;
    border: none;
    font-size: 20px;
    background-color: darkred;
    text-decoration: none;
    text-align: center;
    color: white;

}

.back-btn a {
    position: absolute;
    margin: auto;
    left: 33%;
}

.sign-in a,
.sign-up a {
    position: absolute;
    margin: auto;
    left: 63%;
}