/*  css fil berre for start siden        */

.startPG {
    background-color: white;
    color: black;
    border: 5px solid black;
    border-radius: 15px 50px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    position: relative;
    text-align: center;
    margin: auto;
    margin-top: 8%;
    width: 30%;
    padding: 5% 5%;
    padding-top: 0;
}

.logo {
    position: relative;
    margin-top: 0;
    margin: auto;
    width: 600px;

}

.logo img {
    width: 100%;
}

.title {
    text-align: center;
    color: #505050;
    font-weight: bolder;
    font-size: 45px;
}

.navigation {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10%;
    margin-top: 10%;
}

.navigation a {
    width: 100%;
    padding: 12px 10px;
    border: none;
    font-size: 25px;
    border-radius: 50px;
    margin-bottom: 5px;
    background-color: rgb(48, 55, 186);
    text-decoration: none;
    color: white;
    display: inline-block;
}

a:hover {
    background-color: rgb(73, 81, 226);
}